<server>
    <script src="Namespace.nut" type="server" />
    <script src="Namespace.nut" type="client" />
    <!-- Required for server and client -->
    <script src="PackageTypes.nut" type="server" />
    <script src="PackageTypes.nut" type="client" />

    <script src="PacketDispatcher.nut" type="server" />
    <script src="Events.nut" type="server" />
    <script src="Packages.nut" type="server" />
</server>